.optionList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.categoryName {
  font-weight: bold;
  font-size: 15px;
}

.option {
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  transition: background 0.2s ease;
  border: solid 1px transparent;
}

.option:hover {
  background: #e8e8e8;
  border-color: steelblue;
}

.arrow {
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
}

.optionTitle {
  display: flex;
  align-items: center;
}
